@font-face {
  font-family: "montserratregular";
  src: url("montserrat-regular-webfont.woff2") format("woff2"), url("montserrat-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
*,
html,
body {
  overflow-x: hidden;
  font-family: "montserratregular", sans-serif;
}
.project1 {
  width: 450px;
  border-radius: 10px;
}

.project2 {
  width: 400px;
  border-radius: 10px;
}
#carouselimg {
  border-radius: 15px;
}
#greeting {
  padding-bottom: 5px;
  opacity: 0;
  transition: 1s;
}
#name {
  opacity: 0;
  transition: 1s;
  font-size: 25px;
}
.noted {
  background-color: #f6c6ea;
  padding-left: 3px;
  padding-right: 3px;
}
.nama {
  background-color: #efb0b4;
  padding: 4px;
}
.profile {
  height: 500px;
  border-radius: 10px;
}
i {
  margin-right: 10px;
  margin-top: 5px;
}
#facebook {
  opacity: 0;
  transition: 1s;
}
#github {
  opacity: 0;
  transition: 1s;
}
#instagram {
  opacity: 0;
  transition: 1s;
}
#share {
  opacity: 0;
  transition: 1s;
}
#link {
  padding: 0;
}
#link i {
  color: #1a1a40;
}
#link i:hover {
  color: #f6c6ea;
}
#navbar {
  border: none;
}
#navbarNav {
  border: none;
}
@media (max-width: 768px) {
  .profile {
    height: 350px;
    padding-top: 20px;
  }
  .project1 {
    width: 300px;
    margin-bottom: 25px;
  }
  .project2 {
    width: 300px;
  }
  #name {
    font-size: 16px;
    margin-right: 20px;
    margin-left: 20px;
  }
  #korone {
    border-top: solid white 3px;
    padding-top: 25px;
  }
  #link {
    text-align: center;
    font-weight: 5px;
    padding-right: 10px;
    padding-left: 10px;
  }
  #checkout {
    margin-left: 30px;
  }
}
