*,
html,
body {
  overflow-x: hidden;
  font-family: "Lato", sans-serif;
}
.project1 {
  width: 450px;
  border-radius: 10px;
}

.project2 {
  width: 400px;
  border-radius: 10px;
}
#greeting {
  padding-bottom: 5px;
  opacity: 0;
  transition: 1s;
}
#name {
  opacity: 0;
  transition: 1s;
  font-size: 25px;
}
.noted {
  background-color: #f6c6ea;
  padding-left: 3px;
  padding-right: 3px;
}
.nama {
  background-color: #faf4b7;
  padding-left: 6px;
  padding-right: 6px;
}
.profile {
  height: 500px;
  border-radius: 10px;
}
i {
  margin-right: 10px;
  margin-top: 5px;
}
#facebook {
  opacity: 0;
  transition: 1s;
}
#github {
  opacity: 0;
  transition: 1s;
}
#instagram {
  opacity: 0;
  transition: 1s;
}
#share {
  opacity: 0;
  transition: 1s;
}
#link i {
  color: #1a1a40;
}
#link i:hover {
  color: #f6c6ea;
}
@media (max-width: 768px) {
  .profile {
    height: 350px;
    padding-top: 20px;
  }
  .project1 {
    width: 300px;
    margin-bottom: 25px;
  }
  .project2 {
    width: 300px;
  }
  #name {
    font-size: 16px;
  }
  #korone {
    border-top: solid #cdf0ea 3px;
    padding-top: 25px;
  }
}
